<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
          name="description">
    <meta name="google-site-verification" content="Bvzu8ofH2wvjCur8_JnC51yzrZz9_orSiAOn-Bn66fE" />

    <link href="{{ '/assets/css/main.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/favicon.png' }}" rel="shortcut icon" type="image/png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKDQ9XFZ5Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-HKDQ9XFZ5Q');
    </script>

</head>
